<!DOCTYPE html>
<html>
<head>
    <title>BeatBuddy</title>
    <!-- Add any CSS or stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>BeatBuddy - Music Recommender</h1>
    
    <h2>Welcome to your personalized music recommender!</h2>
    <p>Search for a song and get recommendations. Customize the recommendations by choosing the factors you care about. Enjoy!</p>
    
    <hr>
    <hr>
    <!-- Search form -->
    <h3>Search for your songs</h3>
    <a href="/search"><button type="submit">Search</button></a>
        
    <h3>Get Recommendations</h3>
    <a href="/recommendations"><button type="submit">Get Recommendations</button></a>
    


    <!-- Result Display -->
    <div id="result">
        <!-- Results will be displayed here -->
    </div>

    <!-- Add any JavaScript if needed -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
