<!DOCTYPE html>
<html>
<head>
    <title>BeatBuddy</title>
    <!-- Add any CSS or stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>BeatBuddy - Music Recommender</h1>
    
    <p>Search for a song and get recommendations. Customize the recommendations by choosing the factors you care about. Enjoy!</p>

    <!-- Search form -->
    <form action="/recommendations_result" method="post" enctype="multipart/form-data">
        <h3>Search for a Song</h3>
        <label for="song_name">Enter the name of the song:</label>
        <input type="text" id="song_name" name="song_name" required>
        <label for="year">Enter the year of the song (e.g. 2019):</label>
        <input type="text" id="year" name="year">
        
        <input type="range" id="num_recommendations" name="num_recommendations" min="10" max="40" step="10" value="10" list="tickmarks" oninput="updateSliderValue()">
        <datalist id="tickmarks">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </datalist>
        <button type="submit">Search</button>
    </form>

   
    

    <!-- Add any JavaScript if needed -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
