<!DOCTYPE html>
<html>
<head>
    <title>BeatBuddy</title>
    <!-- Add any CSS or stylesheets here -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>BeatBuddy - Music Recommender</h1>
    
    <h2>Welcome to your personalized music recommender!</h2>
    <p>Search for a song and get recommendations. Customize the recommendations by choosing the factors you care about. Enjoy!</p>

    <!-- Search form -->
    <form action="/search" method="post" enctype="multipart/form-data">
        <h3>Search for a Song</h3>
        <label for="song_name">Enter the name of the song:</label>
        <input type="text" id="song_name" name="song_name" required>
        <label for="year">Enter the year of the song (e.g. 2019):</label>
        <input type="text" id="year" name="year">
        <button type="submit">Search</button>
    </form>

    <div id='info_section'>
        {% for song in data %}
        <p>{{song['name+year' ]}}</p>
        {% endfor %}
    </div>
    

    <!-- Add any JavaScript if needed -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
